:root {
  --color-black: #262729;
  --color-green: #71cc55;
  --color-green-light: #71cc555e;
  --color-green-dark: #3b9326;
  --color-white: #ffffff;
  --color-background: rgb(239, 248, 234);
}

html {
  background: var(--color-background);
  body {
    font-family: 'Roboto', Arial, sans-serif;
    #app {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      padding: 3rem;

      h1 {
        color: var(--color-black);
      }

      input {
        border: var(--color-green-light) 0.25rem solid;
        border-radius: 0.25rem;
        padding: 0.25rem;
        width: 20rem;
      }
    }

    @media screen and (max-width: 430px) {
      #app {
        padding: 1.5rem;
        input {
          width: 100%;
        }
        info-card {
          width: 100%;
          --card-width: 100%;
          --card-padding: 0;
        }
      }
    }
    @media screen and (orientation: landscape) {
      #app {
        h1 {
          margin: 0.5rem auto 0.5rem auto;
        }
        padding: 0;
        gap: 0.5rem;
        info-card {
          --card-padding: 1rem;
        }
      }
    }
  }
}
